<div class="row">
  <div class="offset-s2 col s8">
    <h3>新しいレシピの投稿</h3>
  </div>

    <%= render 'form', recipe: @recipe %>


  <div class="offset-s10 col s2">
    <%= link_to '戻る', recipes_path %>
  </div>
</div>
